:root {
  --white: rgb(255, 253, 253);
  --main-text-color: #3d433d;
  --red: #d21a1a;
  --blue: #7fc8f8;
  --seasalt: #f9f9f9;
  --yellow: #ffe45e;
  --b-radius: 0.25rem;
  --max-container: 75rem;
}
