.header {
  position: relative;
  display: grid;
  grid-template-rows: 2fr;
  grid-template-columns: 1.2fr 1fr;
}
.container_header {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.manWithHat {
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
  margin-top: 20px;
  width: 84%;
  justify-content: center;
  z-index: 10;
}
.header_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(245, 213, 8, 0.1) 0%,
    rgb(18, 133, 204, 0.7) 97%
  );
}
.main_title {
  display: none;
}
.logo_container {
  font-family: "Nunito-Condensed";
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.7rem;
  border-radius: 0.8rem;
  background-color: var(--blue);
  color: var(--white);
  border: 0.2rem solid var(--white);
}
.header_title {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--main-text-color);
}

.header_icons {
  font-size: 0.7rem;
  color: var(--white);
}

.info {
  display: inline-block;
  column-gap: 0.3rem;
}
.main_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  z-index: 40;
}

.logo {
  max-width: 1.7rem;
  max-height: 1.7rem;
}
.logo_title {
  font-size: 0.8rem;
}
.info_other {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  justify-content: center;
}
.work_time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.address {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.contacts {
  display: none;
}
.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.4rem;
  gap: 0.3rem;
}
.social_media {
  display: flex;
  margin-top: 0.7rem;
  justify-content: center;
  gap: 1rem;
}
.social_media_icon,
.social_media_icon_telegram,
.social_media_icon_viber {
  padding: 0.2rem;
  background-color: var(--blue);
  border-radius: 0.6rem;
  border: 0.2rem solid var(--white);

  font-size: 2rem;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
    box-shadow 250ms ease-in-out, border 250ms ease-in-out;
  color: var(--black);
}
.social_media_icon:hover {
  color: var(--white);
  background-image: linear-gradient(
    225deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 11%,
    hsl(315deg 100% 27%) 22%,
    hsl(329deg 100% 36%) 33%,
    hsl(337deg 100% 43%) 44%,
    hsl(357deg 91% 59%) 56%,
    hsl(17deg 100% 59%) 67%,
    hsl(34deg 100% 53%) 78%,
    hsl(45deg 100% 50%) 89%,
    hsl(55deg 100% 50%) 100%
  );
  box-shadow: 0px 0px 8px 2px rgba(38, 40, 42, 0.55);
  border: none;
}
.social_media_icon_telegram:hover {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 0px 8px 2px rgba(38, 40, 42, 0.55);
  border: none;
}
.social_media_icon_viber:hover {
  background-color: #6004d0;
  color: var(--white);
  box-shadow: 0px 0px 8px 2px rgba(38, 40, 42, 0.55);
  border: none;
}
@media screen and (min-width: 375px) {
  .header_title {
    font-size: 0.9rem;
  }
  .main_container {
    width: 66%;

    margin-top: 1.3rem;
  }
  .info_other {
    margin-top: 0.5rem;
  }
  .social_media {
    margin-top: 1rem;
  }
  .header_icons {
    font-size: 1rem;
  }
  .social_media_icon,
  .social_media_icon_telegram,
  .social_media_icon_viber {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 425px) {
  .main_title {
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }
  .logo_title {
    font-size: 1.2rem;
  }
  .header_title {
    font-size: 1rem;
  }
  .social_media {
    margin-top: 0.5rem;
  }
  .logo {
    max-width: 2rem;
    max-height: 2rem;
  }
  .contacts {
    display: flex;
    flex-direction: column;
  }

  .social_media_icon,
  .social_media_icon_telegram,
  .social_media_icon_viber {
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 510px) {
  .main_container {
    width: 74%;
    margin-top: 2rem;
  }
  .logo_title {
    font-size: 1.4rem;
  }
  .info_other {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    gap: 1rem;
  }
  .header_icons {
    font-size: 1.2rem;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    margin-top: 0.4rem;
  }
  .social_media_icon,
  .social_media_icon_telegram,
  .social_media_icon_viber {
    font-size: 3rem;
  }
  .social_media {
    margin-top: 1.2rem;
    gap: 1.7rem;
  }
  .main_title {
    display: flex;
    width: 90%;
    font-family: "Unbounded";
    font-size: 1.2rem;
    color: var(--white);
    z-index: 40;
  }
}

@media screen and (min-width: 600px) {
  .main_title {
    font-size: 1.7rem;
    margin-top: 0.5rem;
  }
  .header_title {
    font-size: 1rem;
  }
  .logo_title {
    font-size: 1.7rem;
  }
  .logo {
    max-width: 3rem;
    max-height: 3rem;
  }
}
@media screen and (min-width: 710px) {
  .container_header {
    padding-top: 3rem;
  }
  .header_title {
    font-size: 1.2rem;
  }

  .main_title {
    font-size: 2rem;
    margin-top: 0.5rem;
  }
  .social_media_icon,
  .social_media_icon_telegram,
  .social_media_icon_viber {
    font-size: 3.5rem;
  }
  .social_media {
    gap: 2.5rem;
  }
  .logo_container {
    border-radius: 1.3rem;
  }
  .info_other {
    margin-top: 0.8rem;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 800px) {
  .container_header {
    padding-top: 3.7rem;
  }
  .header_title {
    font-size: 1.4rem;
  }
  .header_icons {
    font-size: 1.6rem;
  }
  .info {
    margin-top: 1rem;
  }
  .info_other {
    gap: 2.5rem;
  }
  .logo_container {
    border: 0.4rem solid var(--white);
    padding: 0.4rem 1.4rem;
  }
}
@media screen and (min-width: 900px) {
  .main_title {
    font-size: 2.5rem;
    margin-top: 1.5rem;
  }
  .social_media_icon,
  .social_media_icon_telegram,
  .social_media_icon_viber {
    font-size: 4.5rem;
  }
  .social_media {
    margin-top: 2rem;
    gap: 3rem;
  }
  .info {
    margin-top: 0.3rem;
  }
  .logo_title {
    font-size: 2rem;
  }
  .logo {
    max-width: 4rem;
    max-height: 4rem;
    margin-right: 0.6rem;
  }
  .logo_container {
    padding: 0.6rem 1.7rem;
  }
}
@media screen and (min-width: 1000px) {
  .container_header {
    padding-top: 5rem;
  }

  .logo_container {
    border: 0.5rem solid var(--white);
  }
  .main_title {
    font-size: 2.6rem;
    margin-top: 1rem;
  }
  .social_media_icon_viber {
    padding: 0.5rem;
  }
  .header_title {
    font-size: 2rem;
  }
  .header_icons {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1100px) {
  .header_icons {
    font-size: 2.5rem;
  }
  .info {
    margin-top: 1rem;
  }
  .social_media_icon,
  .social_media_icon_telegram,
  .social_media_icon_viber {
    font-size: 5rem;
  }
  .social_media {
    margin-top: 2.6rem;
    gap: 3.5rem;
  }
  .info_other {
    margin-top: 1.2rem;
    gap: 2rem;
  }
  .main_title {
    font-size: 3rem;
    margin-top: 1.3rem;
  }
}
@media screen and (min-width: 1200px) {
  .main_title {
    font-size: 3rem;
    margin-top: 2.5rem;
  }
  .social_media_icon,
  .social_media_icon_telegram,
  .social_media_icon_viber {
    font-size: 6.5rem;
  }
  .social_media {
    margin-top: 4rem;
  }
  .social_media {
    margin-top: 2rem;
    gap: 3rem;
  }
  .info {
    margin-top: 1.7rem;
  }
  .info_other {
    gap: 4rem;
  }
  .logo_title {
    font-size: 2.5rem;
  }
  .logo {
    max-width: 5.5rem;
    max-height: 5.5rem;
    margin-right: 0.6rem;
  }
  .header_title {
    font-size: 1.7rem;
  }
  .header_icons {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1300px) {
  .main_title {
    width: 99%;
    font-size: 3.4rem;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .container_header {
    padding-top: 9rem;
  }

  .manWithHat {
    justify-content: flex-end;
    margin-left: 0px;
  }
  .main_title {
    width: 90%;
    font-size: 3.7rem;
  }
  .social_media_icon,
  .social_media_icon_telegram,
  .social_media_icon_viber {
    font-size: 6.5rem;
  }
  .social_media {
    margin-top: 3rem;
  }
  .social_media {
    margin-top: 2rem;
    gap: 3rem;
  }
  .info {
    margin-top: 1.7rem;
  }
  .logo_title {
    font-size: 2.5rem;
  }
  .logo {
    max-width: 4.5rem;
    max-height: 4.5rem;
    margin-right: 0.6rem;
  }
  .header_title {
    font-size: 1.7rem;
  }
  .header_icons {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1500px) {
  .main_title {
    font-size: 4rem;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1600px) {
  .container_header {
    padding-top: 10rem;
  }
  .manWithHat {
    justify-content: flex-end;
    margin-left: 0px;
  }
  .main_title {
    width: 100%;
    font-size: 4.3rem;
    margin-top: 2.5rem;
  }
  .social_media_icon,
  .social_media_icon_telegram,
  .social_media_icon_viber {
    font-size: 6.5rem;
  }
  .social_media {
    margin-top: 3rem;
  }
  .social_media {
    margin-top: 2rem;
    gap: 3rem;
  }
  .info {
    margin-top: 1.7rem;
  }
  .logo_title {
    font-size: 3.5rem;
  }
  .logo {
    max-width: 5.5rem;
    max-height: 5.5rem;
    margin-right: 0.6rem;
  }
  .header_title {
    font-size: 1.7rem;
  }
  .header_icons {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 1800px) {
  .main_title {
    margin-top: 2rem;
  }
  .manWithHat {
    width: 74%;
  }
}
