@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

.reviewsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reviewContainer {
  width: 90%;
}

.reviewName {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Kaushan Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reviewBody {
  width: 85%;
  margin: 10px auto 30px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-family: "Marck Script", cursive;
  text-indent: 1.2rem;
  text-align: justify;
}