@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

.feedbackHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedbackHeaderImg{
  width: 4rem;
}

.feedbackHeaderText{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.reviewsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reviewContainer {
  width: 90%;
}

.reviewName {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Kaushan Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reviewBody {
  width: 85%;
  margin: 10px auto 30px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-family: "Marck Script", cursive;
  text-indent: 1.2rem;
  text-align: justify;
}

.reviewButton {
  width: 25%;
  margin: 5px calc(var(--index) * 11);
  cursor: pointer;
  background-color: transparent;
  color: #f24a00;
  border: #f24a00 solid 1px;
  border-radius: calc(var(--index));
  padding: calc(var(--index) * 0.2) 0;
  font-size: calc(var(--index) * 0.6);
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.3);
}

.reviewButton:hover {
  background-color: #fefef7;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
}

.reviewButton:active {
  box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.3);
}
