.container {
  max-width: var(--max-container);
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.title {
  font-family: "Nunito-Light";
  font-size: 1.4rem;
}
